body{
width: 90%;
margin: center;
background: -webkit-linear-gradient(137deg, rgb(44, 56, 66), rgb(208, 215, 37));
background: linear-gradient(137deg, rgb(44, 56, 66), rgb(208, 215, 37));
background-image: url(background.jpg);
background-attachment: fixed;
background-position: bottom right;
background-repeat: no-repeat;
background-size: cover;
}

blockquote{
width: 50%;
margin-left: 400px;
font-size: 160%;
background-color: #d3d3d3;
border-left: 3px solid;
padding: 30px;
margin-top: 80px;
margin-bottom: 80px;
font-style: italic;
}

.villagers{
border-color: blue;
}

.farmer{
border-color: red;
}

p:nth-child(2) {
  background: yellow;
}

.good{
text-transform: capitalize;
color: green;
}

.bad{
text-transform: capitalize;
color: red;
}

tr{
border: 1px solid black;
}

tr:nth-child(even){
background: #d3d3d3;
}

tr:nth-child(odd){
background: #ffffff
}

p{
color: #001f3f ;
word-spacing: 0.5px;
font-family: Arial, Helvetica, serif;
}

.up,.down,.cat
{
   height: 100px;
   width: 100px;
   display: block;
   background-repeat: none;
}

.up{
background-image: url(up.png);
background-repeat: no-repeat;
}

.down{
background-image: url(down.png);
background-repeat: no-repeat;
background-position: left;
}

li{
list-style-type: none;
}

.cat{
background-image: url(cat.png);
background-repeat: no-repeat;}

.notification{
  background:#FFFFDD;
  padding:.5rem 1rem;
  border:3px solid #DDDDCC;
  width:250px;
  font-weight:bold;
  color: #333300;
  position: fixed;
  bottom: 0;
  right: 0;
}

a:link{
color: hotpink;
}

a:visited{
color: #d3d3d3;
}

a:hover{
color: #FFB6C1;
}
